﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Uredi podatke o <%= oseba.IME_OSB %></title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body style="background-color:#99ffcc">
   
    <form method="post" action="/phonebook/save_person/<%= oseba.ID_OSB %>" enctype="multipart/form-data" style="width:500px;margin:50px">
         <h3>Uredi osebo: <%= oseba.IME_OSB %></h3>
                <div class="form-group">
                    <label for="Name">Ime osebe:</label>
                    <input type="text" id="Name" class="form-control" name="Name" value="<%= oseba.IME_OSB %>" />
                </div>
                <div class="form-group">
                    <label for="Telefon">Telefon:</label>
                    <input type="text" id="Telefon" class="form-control" name="Telefon" value="<%= oseba.TELEFON %>" />
                </div>
                <div class="form-group">
                    <label for="Ulica">Ulica:</label>
                    <input type="text" id="Ulica" class="form-control" name="Ulica" value="<%= oseba.ULICA %>" />
                </div>
                <div class="form-group">
                    <label for="pos">Poštna številka in naziv pošte:</label>
                    <div id="pos">
                        <div  class="col-sm-3" style="padding-left:0;padding-right:0">
                            <input type="text" id="Pos_st" class="form-control form-inline" name="Pos_st" value="<%= oseba.POS_ST %>" />
                        </div>
                        <div class="col-sm-9" style="padding-left:5px;padding-right:0">
                            <input type="text" id="Posta" class="form-control form-inline" name="Posta" value="<%= oseba.POSTA %>" />
                        </div>        
                     </div>           
                </div>
                <div class="form-group">
                    <label for="Drzava">Država:</label>
                    <input type="text" id="Drzava" class="form-control" name="Drzava" value="<%= oseba.DRZAVA %>" />
                </div>
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="email" id="Email" class="form-control" name="Email" value="<%= oseba.E_MAIL %>" />
                </div>
                <div style="text-align:center">
                    <button type="submit" style="width:10em" class="btn btn-default" onclick="return confirm('Ali res želite posodobiti ta kontakt?')"><span class="glyphicon glyphicon-plus"></span> Shrani</button>
                    <a href="/phonebook/" class="btn btn-default" style="width:10em;margin-left:10px"><span class="glyphicon glyphicon-remove"></span> Prekliči</a>
                </div>
        
                
                    
                
            
            
                
            
        
        
    </form>







</body>
</html>
