<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>Napaka <%= error.status %></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    .ozadje {
        background-color:lightgreen;
    }

    h1 {
        color: black;
        
    }
    .podnaslov {
        font-size:smaller;
    }
</style>

<body class="ozadje">
    

    <h1><%= message %> <%= error.status %>: 

    <% 
        var razlaga = "";
        if(error.status == 404){
            razlaga = "Stran ne obstaja!"
        }
    %>

    <span class="podnaslov"><%= razlaga %></span></h1>
    <img src="./images/notfound404.jpg" />

    <pre class="ozadje"><%= error.stack %></pre>



</body>