﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    function copyToClipboard(elemName) {
        var elem = document.getElementById(elemName);
        // create hidden text element, if it doesn't already exist
        var targetId = "_hiddenCopyText_";
        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
        var origSelectionStart, origSelectionEnd;
        if (isInput) {
            // can just use the original source element for the selection and copy
            target = elem;
            origSelectionStart = elem.selectionStart;
            origSelectionEnd = elem.selectionEnd;
        } else {
            // must use a temporary form element for the selection and copy
            target = document.getElementById(targetId);
            if (!target) {
                var target = document.createElement("textarea");
                target.style.position = "absolute";
                target.style.left = "-9999px";
                target.style.top = "0";
                target.id = targetId;
                document.body.appendChild(target);
            }
            target.textContent = elem.textContent;
        }
        // select the content
        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);

        // copy the selection
        var succeed;
        try {
            succeed = document.execCommand("copy");
        } catch (e) {
            succeed = false;
        }
        // restore original focus
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if (isInput) {
            // restore prior selection
            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
        } else {
            // clear temporary content
            target.textContent = "";
        }
        toast();
        return succeed;
    }

    function toast() {
        // Get the snackbar DIV
        var x = document.getElementById("spor_copy")

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }

</script>

<style>
     /* The snackbar - position it at the bottom and in the middle of the screen */
    #spor_copy {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
    }

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #spor_copy.show {
        visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    /* Animations to fade the snackbar in and out */
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

</style>

<body>
    <% include ./Navigation_Panel.ejs %>

    <div style="padding:25px">
    <h1><%= title %></h1>
    
    <!-- ASCII art program koda -->
    <button id="kopiraj" onclick="copyToClipboard('koda');" style="margin:10px 10px 10px 0px" class="btn btn-default">Kopiraj kodo</button>
    <div id="spor_copy">Koda je bila kopirana v odložišče!</div>
    <div style="outline:solid 1px black; width:50em">
<pre id="koda">
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

typedef struct pika {
    int R, G, B;
} Pixel;

double getGrayscaleWindow(Pixel **slika, int i, int j, int wsize) {
    double sum = 0;
    //printf("\t%d %d %d\n", i, j, wsize);
    for(int a=i; a&lt;i+wsize; a++)
        for(int b=j; b&lt;j+wsize; b++) {
            sum = sum + slika[a][b].R + slika[a][b].G + slika[a][b].B;
            //printf("\t\t%d %d\n", a, b);
        }
    return sum/(3*wsize*wsize);
}

char gray2ascii(double sivina) {
    char znaki[] =          {' ', '.', '\'', ':', 'o', '&', '8', '#', '@'};
    unsigned char scale[] = {230, 200, 180, 160, 130, 100, 70 , 50};
    for(int k=0; k&lt;8; k++)
        if(sivina&gt;=scale[k])
            return znaki[k];
    return '@';
}

int main() {
    int w, h;
    char filein[1024], fileout[1024];
    int winsize;

	scanf("%s\n%s\n%d", filein, fileout, &winsize);
    
    FILE *f = fopen(filein,"rb");
    if(f == NULL) {
      printf("Ne morem odpreti datoteke %s.\n", filein);
      return(-1);
    }
    
    fscanf(f, "P6\n%d %d\n255\n", &w, &h);
    int bin = ftell(f);
    printf("%d %d\n", w,h);
    fseek(f, 0, SEEK_END);
    int len = ftell(f);
    unsigned char buffer[len-bin];
    
    fseek(f, bin, SEEK_SET);
    fread(buffer, 1, len-bin, f);
    fclose(f);
    
    int pos = 0;

    Pixel *slika[h];
    for(int row=0; row &lt; h; row++)
        slika[row] = (Pixel *) malloc(w * sizeof(Pixel));
    
    for(int i=0; i&lt;h; i++)
        for(int j=0; j&lt;w; j++) {
            slika[i][j].R = buffer[pos++];
            slika[i][j].G = buffer[pos++];
            slika[i][j].B = buffer[pos++];
        }
    
    FILE *out = fopen(fileout,"w");
    for(int i=0; i&lt;h; i+=winsize) {
        for(int j=0; j&lt;w; j+=winsize) {
            fprintf(out, "%c", gray2ascii( getGrayscaleWindow(slika, i, j, winsize) ));
        }
        fprintf(out, "\n");
    }
    fclose(out);
    return 0;
}
</pre>
</div>
</div>


</body>
</html>