<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <body style="margin:0">
       <% include ./Navigation_Panel.ejs %>
      <div style="padding:25px">
        <h1><%= title %></h1>
            <a href="/first_page" class="img-thumbnail">
                <img src="./images/ascii_link.png" />
                <figcaption style="font-size:16px;color:#3e8e41"><strong>ASCII Art</strong></figcaption>
            </a>
            <a href="/phonebook" class="img-thumbnail" style="margin-left:25px">
                <img src="./images/kontakti_link.png" />
                <figcaption style="font-size:16px;color:#3e8e41"><strong>Imenik</strong></figcaption>
            </a>


      </div>

    
  </body>
</html>
