﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<style>
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.li {
    float: left;
}

.li .a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li .a:hover:not(.active) {
    background-color: #ddd;
}

.li .a.active {
    color: white;
    background-color: #4CAF50;
}
</style>
<body>
    <ul class="ul">
        <li class="li"><a class="active a_nav a" href="/">Home</a></li>
        <li class="li"><a class="a_nav a" href="/first_page">ASCII Art</a></li>
        <li class="li"><a class="a_nav a" href="/phonebook">Imenik</a></li>
    </ul>
</body>
</html>