﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= oseba.IME_OSB %> - Podatki</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <body>

        <% include ./Navigation_Panel.ejs %>
        <div>
        <label style="margin-left:25px;padding-top:50px" for="podatki">
            <a href="/phonebook/edit_person/<%= oseba.ID_OSB %>"><span class="glyphicon glyphicon-pencil"></span> Uredi</a>
            <a href="/phonebook/delete_person/<%= oseba.ID_OSB %>" style="padding-left:25px" onclick="return confirm('Ali res želite izbrisati ta kontakt?')"><span class="glyphicon glyphicon-trash"></span> Izbriši</a>    
        </label>
 
        <ul class="list-group" style="margin-left:25px; margin-right:25px; width:45em" id="podatki">
            <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> <strong>Ime osebe:</strong> <%= oseba.IME_OSB %><br /><span class="glyphicon glyphicon-earphone"></span> <strong>Telefon:</strong> <%= oseba.TELEFON %></li>
            <% if(oseba.ULICA){ %>
            <li class="list-group-item"><span class="glyphicon glyphicon-home"></span> <strong>Naslov:</strong> <%= oseba.ULICA %>, <%= oseba.POS_ST %> <%= oseba.POSTA %>, <%= oseba.DRZAVA %></li>
            <% } if(oseba.E_MAIL){ %>
            <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> <strong>E-mail:</strong> <a href="mailto:<%= oseba.E_MAIL %>"><%= oseba.E_MAIL %></a></li>
            <% } %>
        </ul>
        
        <a href="/phonebook/" class="btn btn-default" style="margin-top:25px;margin-left:25px"><span class="glyphicon glyphicon-arrow-left"></span> Nazaj</a>
        </div>
    </body>
</html>
