﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Phone book</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>

<script>
    function pokaziVnos() {
        var polje = document.getElementById("novVnos");
        polje.style.visibility = "visible";
    }

    function skrijVnos() {
        var polje = document.getElementById("novVnos");
        polje.style.visibility = "hidden";
    }

    function naZacetku() {
        var novVnos = document.getElementById("novVnos");
        novVnos.style.visibility = "hidden";
    }

</script>


<body onload="naZacetku();">
    <% include ./Navigation_Panel.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="height:600px">
                <h3>Kontakti</h3>
                <button id="novVnosGumb" class="btn btn-default" onclick="pokaziVnos();" style="margin-bottom:25px" >Dodaj novo osebo</button>
                <div style="overflow-y: scroll;height:600px">
                <table>
                    <% for(var i = 0; i < oseba.length; i++){ %>
                        <tr>
                            <td><span class="glyphicon glyphicon-user"></span><strong> Ime osebe:</strong> <a href="/phonebook/oseba/<%= oseba[i].ID_OSB %>"><%= oseba[i].IME_OSB %></a><br />
                                <span class="glyphicon glyphicon-earphone"></span><strong> Telefon:</strong> <%= oseba[i].TELEFON %><br />
                                <% if(oseba[i].E_MAIL){ %>
                                <span class="glyphicon glyphicon-envelope"></span><strong> E-mail:</strong> <a href="mailto:<%= oseba[i].E_MAIL %>"><%= oseba[i].E_MAIL %></a><br />
                                <% } %>
                            </td>
                            <td style="text-align: right">
                                <a href="/phonebook/edit_person/<%= oseba[i].ID_OSB %>"><span class="glyphicon glyphicon-pencil"></span> Uredi</a><br />
                                <a href="/phonebook/delete_person/<%= oseba[i].ID_OSB %>" onclick="return confirm('Ali res želite izbrisati ta kontakt?')"><span class="glyphicon glyphicon-trash"></span> Izbriši</a>
                            </td>
                        </tr>
                    <% } %>
                </table>
                </div>
            </div>
            <div class="col-sm-6">
                <!--<button id="novVnosGumb" class="btn btn-default" onclick="pokaziVnos();" style="margin:50px">Dodaj novo osebo</button> -->
                <div id="novVnos">
                <h3>Dodaj novo osebo</h3>
                <form action="/phonebook/dodaj" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="Name">Ime osebe:</label>
                        <input type="text" class="form-control" id="Name" name="Name"/>
                      </div>
                      <div class="form-group">
                        <label for="Telefon">Telefon:</label>
                        <input type="text" class="form-control" id="Telefon" name="Telefon"/>
                      </div>
                      <div class="form-group">
                        <label for="Ulica">Ulica:</label>
                        <input type="text" class="form-control" id="Ulica" name="Ulica">
                      </div>
                      <div class="form-group">
                        <label for="Pos_st">Poštna št:</label>
                        <input type="text" class="form-control" id="Pos_st" name="Pos_st"/>
                      </div>
                      <div class="form-group">
                        <label for="Posta">Naziv Pošte:</label>
                        <input type="text" class="form-control" id="Posta" name="Posta"/>
                      </div>
                      <div class="form-group">
                        <label for="Drzava">Država:</label>
                        <input type="text" class="form-control" id="Drzava" name="Drzava"/>
                      </div>
                      <div class="form-group">
                        <label for="Email">E-mail:</label>
                        <input type="text" class="form-control" id="Email" name="Email"/>
                      </div>
                     
                      <button type="submit" style="width:10em" class="btn btn-default" onclick="return confirm('Ali res želite dodati ta kontakt?')"><span class="glyphicon glyphicon-plus"></span> Dodaj osebo</button>
                      <button type="button" style="width:10em;margin-left:10px" class="btn btn-default" onclick="skrijVnos();"><span class="glyphicon glyphicon-remove"></span> Prekliči</button>
                </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
